:root {
    --white: hsl(0, 0%, 100%);
    --text: hsl(228, 12%, 48%);
    --pale: hsl(32, 37%, 92%);
    --header-text: hsl(212, 21%, 14%);
    --background: #0f0e17;
    --headline: #fffffe;
    --paragraph: #a7a9be;
    --button: #ff8906;
    --button-text: #fffffe;
    --main-background: #191a1d;
    --seconday: #f25f4c;
    --fonts: rgb(100, 245, 233);
    --seconday-header: rgb(56, 49, 222);
    --header2-h2: cadetblue;
    --header1-h1: #57d6c2;
    --socialmedia: rgb(11, 146, 213);

}

* {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-background);
}

#header-img {
    width: 60px;
    object-fit: contain;
}
/*Navigation*/
#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--background);
    padding: 0 10px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: var(--text);
    padding: 0 10px;
    font-family: "Roboto Mono";
}

.nav-links :hover {
    color: var(--header1-h1);
}

.logo-container {
    display: flex;
    align-items: center;
}

.the-product {
    font-size: 25px;
    margin-left: 10px;
    font-weight: 300;
    font-family: "Roboto Mono";
    color: var(--fonts);
}

#email-section {
    margin-top: 100px;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--button);
}

#submit {
    background-color: var(--button);
    color: var(--white);
    cursor: pointer;
}

section::before{
    display: block;
    content: " ";
    margin-top: -130px;
    height: 100px;
    visibility: hidden;
    pointer-events: none;
}

section {
    margin: 40px 20px;
    text-align: center;
}

h1 {
    font-family: "Roboto Mono";
    text-align: center;
    font-size: 30px;
    color: var(--header1-h1);
}

h2 {
    font-family: 'Roboto Mono';
    margin-bottom: 10px;
    color: var(--header2-h2);
}

#small-contact {
    color: var(--text);
    font-family: "quicksand";
}

.small-contact {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.large-logo {
    border-radius: 50%;
    align-items: center;
    vertical-align: middle;
    width: 130px;
    height: 130px;
    border: 5px solid var(--text);
    margin-top: 5px;
}

#about {
    background-image: url(images/background-1.jpg);
    background-size: cover;
    font-family: "quicksand";
    color: var(--button-text);
    text-align: center;
    justify-content: center;
    padding: 0px 20px 0px 20px;
}

.about {
    margin: 20px 20px 30px 20px;
}

.icon {
    color: var(--fonts);
    margin-right: 20px;
}

#features {
    text-align: left;
    max-width: 800px;
    margin: auto;
    padding-bottom: 10px;
}

.feature {
    display: flex;
    align-items: left;
    justify-content: left;
    margin: 20px 20px 30px 20px;
    font-family: 'quicksand';
    color: var(--button-text);
}

#video {
    width: 70%;
}

#coaching_packages{
    font-family: "quicksand";
    color: var(--button-text);
}

.coaching_packages {
    margin: 10px 30px 10px 30px;
}

.product-image {
    width: 100%;
    margin: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--text);
    border-radius: 10px 10px 0 0;
}

.product1 {
    background-image: url(images/Package-1.jpg);
}

.product2 {
    background-image: url(images/Package-2b.jpg);
}

.product3 {
    background-image: url(images/Package-3c.jpg);
}

.card {
    background-color: var(--background);
    border-radius: 10px;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;

}

.inner-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.content {
    font-family: 'Courier New';
    color: var(--text);
    margin-bottom: 10px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.main-price {
    margin-right: 5px;
    font-size: 30px;
    font-family: 'Courier New';
    color: var(--header1-h1);
}

.old-price {
    /*text-decoration: line-through;*/
    color: var(--text);
}

.author {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
    color: var(--button-text);
    text-transform: uppercase;
}

.header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--headline);
}

.add {
    background-color: var(--header1-h1);
    cursor: pointer;
    padding: 15px;
    border: none;
    border-radius: 10px;
    width: 100%;
    color: var(--text);
    font-family: "quicksand";
    font-weight: 800;
    font-size: 15px;
    margin-bottom: 10px;
}

.add:hover {
    background-color: var(--socialmedia);
}

.add:active {
    background-color: var(--socialmedia);
    transform: translateY(4px);
}

#testimonials {
    margin: 60px 0 20px 0;
}

.sub-title {
    font-family: "quicksand";
    color: var(--text);
    margin-bottom: 20px;
}

.testimonial-card {
    /*background-color: var(--background);*/
    border-radius: 10px;
    width: 45%;
    margin: auto;
    margin-bottom: 10px;
    min-height: 250px;
}

.testimonial-inner-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.quote-icon {
    color: var(--button-text);
}

.review {
    font-family: "quicksand";
    color: var(--button-text);
    margin-bottom: 20px;
}

.reviewer {
    color: var(--button-text);
    font-family: 'Courier New', Courier, monospace;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }

  .gallery img {
    width: 100%;
    max-width: 290px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  /*.gallery::after {
    content: "";
    width: 350px;
  }*/

.experience {
    background-color: var(--background);
    border-radius: 10px;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}


/*.experience-text {
    font-family: "quicksand";
    font-weight: bold;
    font-size: 30px;
}
*/

.experience-image {
    width: 100%;
    margin: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--text);
    border-radius: 10px 10px 0 0; 
}

.awards-image {
    background-image: url(images/Gym_of_the_year.webp);
}

#contact {
    color: var(--button-text);
    font-family: "quicksand";
}

#contact h1 {
    margin-top: 30px;
}

#contact .quote {
    color: var(--primary);
    font-size: 25px;
    font-style: italic;
    color: var(--button-text);
}

#contact .social-medias {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px;
}

#contact .social-media {
    text-decoration: none;
    color: var(--white);
    transition: transform 0.2s ease-in;
    display: flex;
    align-items: center;
    margin: 20px;
    font-size: 22px;
    font-family: "quicksand";
}

#contact .social-media:hover {
   
    color: var(--socialmedia);
}

#contact .social-media:active {
    transform: translateY(5px);
}

#email-telephone {
    font-family: "quicksand";
    color: var(--button-text);
    font-size: larger;
}

footer {
    border-top: 3px solid var(--fonts);
    color: var(--header1-h1);
    font-family: "quicksand";
    font-size: 15px;
    padding: 30px;
}

@media only screen and (min-width: 600px) {
    #nav-bar {
        flex-direction: row;
    }
}

@media only screen and (450px < width < 600px) {
    .card {
        font-size: 0.85rem;
    }
    .product-image {
        height: 400px;
    }
}

@media only screen and (450px <= width) {
    .card {
        display: flex;
        max-width: 700px;
    }
    .inner-card {
        width: 300px;
        padding: 20px;
    }
    .product-image {
        height: 300px;
        border-radius: 10px 0 0 10px;
    }
}

@media only screen and (width >=900px) {
    #video {
        width: 60%;
    }
    .product-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
